<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img class="card-img-top mb-5 mb-md-0" [src]="product?.image"
             style="max-height: 450px; object-fit: contain;"
             alt="{{product?.productTitle}}" />
      </div>
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder">{{ product?.productTitle }}</h1>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through">{{ product?.productPrice }}</span>
          <span>{{ product?.productPrice }}</span>
          <p class="card-text"><strong>Quantité disponible :</strong> {{ product?.quantity }}</p>
        </div>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi.
          Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus
          ipsam minima ea iste laborum vero?
        </p>
        <div class="d-flex">
          <input id="inputQuantity" type="number" value="1" style="max-width: 3rem" class="form-control form-control-sm me-3 w-25 text-center" min="1" />
          <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="addToCart(product!)">
            <i class="bi-cart-fill me-1"></i>
            Add to bag
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Related products</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" *ngFor="let product of products">
        <div class="card h-100">

          <img [src]="product.image" [alt]="product.productTitle" class="card-img-top" style="object-fit: contain; height: 200px;" />
          <!-- Product details -->
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">{{ product.productTitle }}</h5>
              {{ product.productPrice }} DH
            </div>
          </div>

          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <button class="btn btn-outline-dark mt-auto" (click)="addToCart(product)">Add to bag</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
